#header_pannel_module {
    .container {
        .left {
            padding-left: 20px;
        }

        .logo {
            width: 160px;

            img {
                width: 100%;
            }
        }

    }
}
