/* 样式变量
 * 作者：平原
 * 创建：2017-11-23 */

$color_pink_1: #ff5687;
$color_pink_2: #ff73a8;
$color_orange: #ff6e38;
$color_red_1: #d66868;
$color_red_2: #c15958;
$color_red_3: #ea7a79;
$color_blue: #347ab6;

$color_black: #333;
$color_bg: #eee;
$color_gray_txt: #999;
$color_gray_1: #aaa;
$color_gray_2: #7b7b7b;
$color_gray_3: #ddd;
$color_gray_btn: #ccc;
$color_gray_nav: #f6f6f6;

$font_size_xxxl: 24px;
$font_size_xxl: 20px;
$font_size_xl: 18px;
$font_size_l: 16px;
$font_size_m: 15px;
$font_size_s: 14px;
$font_size_xs: 12px;
$font_size_xxs: 12px;

$rmb: '\00A5';
