._txt_red { color: $color_red_1 !important; }
._txt_blue { color: $color_blue !important; }
._txt_333 { color: #333 !important; }
._txt_666 { color: #666 !important; }
._txt_999 { color: #999 !important; }
._txt_ccc { color: #ccc !important; }
._txt_fff { color: #fff !important; }

._bg_white { background: #fff; }
._bg_gray { background: $color_gray_nav; }

._border_ccc { border-color: #ccc; }
._border_red { border-color: $color_red_1; }
