._mt5 { margin-top: 5px !important; }
._mt10 { margin-top: 10px !important; }
._mt15 { margin-top: 15px !important; }
._mt20 { margin-top: 20px !important; }
._mt25 { margin-top: 25px !important; }
._mt30 { margin-top: 30px !important; }
._mt40 { margin-top: 40px !important; }
._mt60 { margin-top: 60px !important; }
._mt80 { margin-top: 80px !important; }
._mt100 { margin-top: 100px !important; }
._mt120 { margin-top: 120px !important; }
._mt140 { margin-top: 140px !important; }

._ml2 { margin-left: 2px !important; }
._ml3 { margin-left: 3px !important; }
._ml5 { margin-left: 5px !important; }
._ml10 { margin-left: 10px !important; }
._ml15 { margin-left: 15px !important; }
._ml20 { margin-left: 20px !important; }
._ml25 { margin-left: 25px !important; }
._ml30 { margin-left: 30px !important; }
._ml35 { margin-left: 35px !important; }
._ml40 { margin-left: 40px !important; }
._ml45 { margin-left: 45px !important; }
._ml50 { margin-left: 50px !important; }
._ml60 { margin-left: 60px !important; }
._ml70 { margin-left: 70px !important; }
._ml80 { margin-left: 80px !important; }
._ml85 { margin-left: 85px !important; }
._ml90 { margin-left: 90px !important; }
._ml100 { margin-left: 100px !important; }
._ml110 { margin-left: 110px !important; }
._ml110 { margin-left: 110px !important; }
._ml120 { margin-left: 120px !important; }
._ml130 { margin-left: 130px !important; }
._ml140 { margin-left: 140px !important; }
._ml150 { margin-left: 150px !important; }
._ml160 { margin-left: 160px !important; }
._ml200 { margin-left: 200px !important; }
._ml210 { margin-left: 210px !important; }
._ml220 { margin-left: 220px !important; }
._ml230 { margin-left: 230px !important; }
._ml240 { margin-left: 240px !important; }
._ml250 { margin-left: 250px !important; }
._ml260 { margin-left: 260px !important; }
._ml280 { margin-left: 280px !important; }
._ml290 { margin-left: 290px !important; }

._mr5 { margin-right: 5px !important; }
._mr10 { margin-right: 10px !important; }
._mr15 { margin-right: 15px !important; }
._mr20 { margin-right: 20px !important; }
._mr25 { margin-right: 25px !important; }
._mr30 { margin-right: 30px !important; }
._mr40 { margin-right: 40px !important; }
._mr50 { margin-right: 50px !important; }
._mr60 { margin-right: 60px !important; }
._mr70 { margin-right: 70px !important; }
._mr80 { margin-right: 80px !important; }
._mr90 { margin-right: 90px !important; }
._mr100 { margin-right: 100px !important; }
._mr110 { margin-right: 110px !important; }
._mr120 { margin-right: 120px !important; }
._mr130 { margin-right: 130px !important; }
._mr140 { margin-right: 140px !important; }
._mr150 { margin-right: 150px !important; }

._mb5 { margin-bottom: 5px !important; }
._mb10 { margin-bottom: 10px !important; }
._mb15 { margin-bottom: 15px !important; }
._mb20 { margin-bottom: 20px !important; }
._mb25 { margin-bottom: 25px !important; }
._mb30 { margin-bottom: 30px !important; }
._mb40 { margin-bottom: 40px !important; }
._mb50 { margin-bottom: 50px !important; }
._mb60 { margin-bottom: 60px !important; }
._mb70 { margin-bottom: 70px !important; }
._mb80 { margin-bottom: 80px !important; }
._mb100 { margin-bottom: 100px !important; }
._mb110 { margin-bottom: 110px !important; }
._mb120 { margin-bottom: 120px !important; }
._mb120 { margin-bottom: 120px !important; }
._mb130 { margin-bottom: 130px !important; }
._mb140 { margin-bottom: 140px !important; }

._m0_h { margin-left:0 !important; margin-right: 0 !important; }
._m5_h { margin-left:5 !important; margin-right: 5 !important; }
._m10_h { margin-left:10px !important; margin-right: 10px !important; }
._m15_h { margin-left:15px !important; margin-right: 15px !important; }
._m20_h { margin-left:20px !important; margin-right: 20px !important; }
._m25_h { margin-left:25px !important; margin-right: 25px !important; }
._m30_h { margin-left:30px !important; margin-right: 30px !important; }
._m40_h { margin-left:40px !important; margin-right: 40px !important; }

._m0_v { margin-top: 0 !important; margin-bottom: 0 !important; }
._m5_v { margin-top: 5 !important; margin-bottom: 5 !important; }
._m10_v { margin-top: 10px !important; margin-bottom: 10px !important; }
._m15_v { margin-top: 15px !important; margin-bottom: 15px !important; }
._m20_v { margin-top: 20px !important; margin-bottom: 20px !important; }
._m25_v { margin-top: 25px !important; margin-bottom: 25px !important; }
._m30_v { margin-top: 30px !important; margin-bottom: 30px !important; }

._pt0 { padding-top: 0 !important; }
._pt5 { padding-top: 5px !important; }
._pt10 { padding-top: 10px !important; }
._pt15 { padding-top: 15px !important; }
._pt20 { padding-top: 20px !important; }
._pt25 { padding-top: 25px !important; }
._pt30 { padding-top: 30px !important; }
._pt40 { padding-top: 40px !important; }
._pt50 { padding-top: 50px !important; }
._pt60 { padding-top: 60px !important; }
._pt70 { padding-top: 70px !important; }
._pt80 { padding-top: 80px !important; }

._pb0 { padding-bottom: 0 !important; }
._pb5 { padding-bottom: 5px !important; }
._pb10 { padding-bottom: 10px !important; }
._pb15 { padding-bottom: 15px !important; }
._pb20 { padding-bottom: 20px !important; }
._pb25 { padding-bottom: 25px !important; }
._pb30 { padding-bottom: 30px !important; }
._pb40 { padding-bottom: 40px !important; }
._pb50 { padding-bottom: 50px !important; }
._pb60 { padding-bottom: 60px !important; }
._pb80 { padding-bottom: 80px !important; }

._pl0 { padding-left: 0 !important; }
._pl10 { padding-left: 10px !important; }
._pl15 { padding-left: 15px !important; }
._pl20 { padding-left: 20px !important; }
._pl30 { padding-left: 30px !important; }
._pl40 { padding-left: 40px !important; }
._pl60 { padding-left: 60px !important; }
._pl80 { padding-left: 80px !important; }
._pr0 { padding-right: 0 !important; }
._pr5 { padding-right: 5px !important; }
._pr10 { padding-right: 10px !important; }
._pr15 { padding-right: 15px !important; }
._pr20 { padding-right: 20px !important; }
._pr30 { padding-right: 30px !important; }
._pr40 { padding-right: 40px !important; }
._pr60 { padding-right: 60px !important; }
._pr80 { padding-right: 80px !important; }

._p0 { padding: 0 !important; }
._p10 { padding: 10px !important; }
._p15 { padding: 15px !important; }
._p20 { padding: 20px !important; }
._p25 { padding: 25px !important; }
._p30 { padding: 30px !important; }

._p0_h { padding-left:0 !important; padding-right: 0 !important; }
._p10_h { padding-left:10px !important; padding-right: 10px !important; }
._p15_h { padding-left:15px !important; padding-right: 15px !important; }
._p20_h { padding-left:20px !important; padding-right: 20px !important; }
._p25_h { padding-left:25px !important; padding-right: 25px !important; }
._p30_h { padding-left:30px !important; padding-right: 30px !important; }
._p40_h { padding-left:40px !important; padding-right: 40px !important; }

._p0_v { padding-top: 0 !important; padding-bottom: 0 !important; }
._p10_v { padding-top: 10px !important; padding-bottom: 10px !important; }
._p15_v { padding-top: 15px !important; padding-bottom: 15px !important; }
._p20_v { padding-top: 20px !important; padding-bottom: 20px !important; }
._p25_v { padding-top: 25px !important; padding-bottom: 25px !important; }
._p30_v { padding-top: 30px !important; padding-bottom: 30px !important; }
._p40_v { padding-top: 40px !important; padding-bottom: 40px !important; }
._p100_v { padding-top:100px !important; padding-bottom: 100px !important; }
._p120_v { padding-top:120px !important; padding-bottom: 120px !important; }

/* 内外边距 end */

/* 宽高 start */
._w25p { width: 25% !important; }
._w33p { width: 33% !important; }
._w100p { width: 100% !important; }
._w10 { width: 10px !important; }
._w20 { width: 20px !important; }
._w30 { width: 30px !important; }
._w35 { width: 35px !important; }
._w40 { width: 40px !important; }
._w50 { width: 50px !important; }
._w60 { width: 60px !important; }
._w70 { width: 70px !important; }
._w80 { width: 80px !important; }
._w85 { width: 85px !important; }
._w90 { width: 90px !important; }
._w100 { width: 100px !important; }
._w110 { width: 110px !important; }
._w120 { width: 120px !important; }
._w130 { width: 130px !important; }
._w140 { width: 140px !important; }
._w150 { width: 150px !important; }
._w160 { width: 160px !important; }
._w180 { width: 180px !important; }
._w190 { width: 190px !important; }
._w195 { width: 195px !important; }
._w200 { width: 200px !important; }
._w210 { width: 210px !important; }
._w215 { width: 215px !important; }
._w220 { width: 220px !important; }
._w230 { width: 230px !important; }
._w260 { width: 260px !important; }
._w280 { width: 280px !important; }
._w300 { width: 300px !important; }
._w330 { width: 330px !important; }
._w350 { width: 350px !important; }
._w400 { width: 400px !important; }
._w450 { width: 450px !important; }
._w500 { width: 500px !important; }
._w1000 { width: 1000px !important; }

._w10_max { max-width: 10px !important; }
._w20_max { max-width: 20px !important; }
._w30_max { max-width: 30px !important; }
._w35_max { max-width: 35px !important; }
._w40_max { max-width: 40px !important; }
._w50_max { max-width: 50px !important; }
._w60_max { max-width: 60px !important; }
._w70_max { max-width: 70px !important; }
._w80_max { max-width: 80px !important; }
._w85_max { max-width: 85px !important; }
._w90_max { max-width: 90px !important; }
._w100_max { max-width: 100px !important; }
._w110_max { max-width: 110px !important; }
._w120_max { max-width: 120px !important; }
._w130_max { max-width: 130px !important; }
._w140_max { max-width: 140px !important; }
._w150_max { max-width: 150px !important; }
._w160_max { max-width: 160px !important; }
._w180_max { max-width: 180px !important; }
._w190_max { max-width: 190px !important; }
._w195_max { max-width: 195px !important; }
._w200_max { max-width: 200px !important; }
._w210_max { max-width: 210px !important; }
._w215_max { max-width: 215px !important; }
._w220_max { max-width: 220px !important; }
._w230_max { max-width: 230px !important; }
._w260_max { max-width: 260px !important; }
._w280_max { max-width: 280px !important; }
._w300_max { max-width: 300px !important; }
._w330_max { max-width: 330px !important; }
._w350_max { max-width: 350px !important; }
._w400_max { max-width: 400px !important; }
._w450_max { max-width: 450px !important; }
._w500_max { max-width: 500px !important; }
._w1000_max { max-width: 1000px !important; }

._w10_min { min-width: 10px !important; }
._w20_min { min-width: 20px !important; }
._w30_min { min-width: 30px !important; }
._w35_min { min-width: 35px !important; }
._w40_min { min-width: 40px !important; }
._w50_min { min-width: 50px !important; }
._w60_min { min-width: 60px !important; }
._w70_min { min-width: 70px !important; }
._w80_min { min-width: 80px !important; }
._w85_min { min-width: 85px !important; }
._w90_min { min-width: 90px !important; }
._w100_min { min-width: 100px !important; }
._w110_min { min-width: 110px !important; }
._w120_min { min-width: 120px !important; }
._w130_min { min-width: 130px !important; }
._w140_min { min-width: 140px !important; }
._w150_min { min-width: 150px !important; }
._w160_min { min-width: 160px !important; }
._w180_min { min-width: 180px !important; }
._w190_min { min-width: 190px !important; }
._w195_min { min-width: 195px !important; }
._w200_min { min-width: 200px !important; }
._w210_min { min-width: 210px !important; }
._w215_min { min-width: 215px !important; }
._w220_min { min-width: 220px !important; }
._w230_min { min-width: 230px !important; }
._w260_min { min-width: 260px !important; }
._w280_min { min-width: 280px !important; }
._w300_min { min-width: 300px !important; }
._w330_min { min-width: 330px !important; }
._w350_min { min-width: 350px !important; }
._w400_min { min-width: 400px !important; }
._w450_min { min-width: 450px !important; }
._w500_min { min-width: 500px !important; }
._w1000_min { min-width: 1000px !important; }

._h80p { height: 80% !important; }
._h85p { height: 85% !important; }
._h90p { height: 90% !important; }
._h100p { height: 100% !important; }
._h10 { height: 10px !important; }
._h20 { height: 20px !important; }
._h30 { height: 30px !important; }
._h35 { height: 35px !important; }
._h40 { height: 40px !important; }
._h50 { height: 50px !important; }
._h60 { height: 60px !important; }
._h70 { height: 70px !important; }
._h80 { height: 80px !important; }
._h85 { height: 85px !important; }
._h90 { height: 90px !important; }
._h100 { height: 100px !important; }
._h110 { height: 110px !important; }
._h120 { height: 120px !important; }
._h130 { height: 130px !important; }
._h140 { height: 140px !important; }
._h150 { height: 150px !important; }
._h160 { height: 160px !important; }
._h180 { height: 180px !important; }
._h190 { height: 190px !important; }
._h195 { height: 195px !important; }
._h200 { height: 200px !important; }
._h210 { height: 210px !important; }
._h215 { height: 215px !important; }
._h220 { height: 220px !important; }
._h230 { height: 230px !important; }
._h260 { height: 260px !important; }
._h280 { height: 280px !important; }
._h300 { height: 300px !important; }
._h330 { height: 330px !important; }
._h350 { height: 350px !important; }
._h400 { height: 400px !important; }
._h450 { height: 450px !important; }
._h500 { height: 500px !important; }
._h1000 { height: 1000px !important; }

._lh16 { line-height: 16px !important; }
._lh18 { line-height: 18px !important; }
._lh20 { line-height: 20px !important; }
._lh30 { line-height: 30px !important; }
